@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Playfair+Display:ital@1&family=Quicksand&display=swap");

@import "../src/css-components/navbar.css";

:root {
  --white-bg: #fff;
  --cream_white: #dedede;
  --dark_blue: #0d3356;
  --gray_blue: #667085;
  --ul_blue: #1d364d;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

/* Buy now section starts here */

#buy-now {
  display: flex;
  width: 70%;
  justify-content: space-around;
  background-image: linear-gradient(to right,#f4e8f3, #f3eff6, #eee0f9);
}

h1 {
  font-size: 34px;
  font-family: "Inter";
  font-weight: 700;
  color: #3a4980;
}

#buy-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 29.5px;
  background-color: #3a4980;
}

/* Buy now section ends here */

/* product info section */

#product-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#info-right-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}